@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}


body {
    width: 100vw;
    min-height: 100vh;
    max-width: 100%;
    font-family: Poppins,sans-serif;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(156 163 175);
    position: sticky;
    top: 0;
    left: 0%;
    z-index: 10;
}

header img {
    height: 100%;
    object-fit: contain;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.options {
    background-color: #04AA6D;
    color: white;
    border: none;
    border-radius: 8px;
    padding: .5rem;
    cursor: pointer;
}

.options:hover {
    background-color: #3e8e41;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 11;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

footer {
    width: 100%;
    margin-top: 1rem;
    background-color: black;
    color: azure;
    padding: 1rem;
    text-align: center;
}

#social-links{
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    list-style: none;
}