@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

body{
    font-family:Poppins ;
}

#hero{
    width: 100%;
    height: calc(100vh);
    background: url("/images/search.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 4rem/* 64px */;
    padding-right: 4rem/* 64px */;
    justify-content: space-around;
}
